.toggleContainer {
  width: 65px;
  height: 30px;
  background: #e2e8f0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &.dark {
    background: #1e293b;
  }

  .iconWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #64748b;
    font-size: 15px;
    padding: 0 0.15rem;
    justify-content: center;
    transition: color 0.3s ease;
    pointer-events: none;

    &.sun {
      left: 3px;
    }
    &.moon {
      right: 3px;

      
    }
    &.active {
      color: #fbbf24;
    }
    &.moon.active {
        color: #ffffff;
      }
  }

  .ball {
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    z-index: 1;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &.dark .ball {
    transform: translateX(35px);
    background: #38bdf8;
  }
}
