.homePage {
  padding: 1rem;
  background: #0b0d10;
  min-height: 100vh;
  color: white;

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 1.6rem;
      font-weight: 600;
    }
    .filters {
      display: flex;
      gap: 0.7rem;

      select {
        background: #161a20;
        border: 1px solid #222;
        color: white;
        padding: 0.5rem 0.7rem;
        border-radius: 8px;
        font-size: 0.85rem;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .card {
      background: #11141a;
      border: 1px solid #1f242c;
      border-radius: 14px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      transition: 0.3s;

      &:hover {
        border-color: #3b82f6;
        // transform: translateY(-3px);
      }

      h2 {
        font-size: 1.2rem;
        line-height: 1.4;
      }

      p {
        font-size: 0.85rem;
        color: #b4b4b4;
        line-height: 1.5;
      }

      .cardTop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tag {
          background: #1e293b;
          color: #60a5fa;
          padding: 0.25rem 0.6rem;
          border-radius: 999px;
          font-size: 0.7rem;
        }

        .publicIcon {
          font-size: 1rem;
          opacity: 0.7;
        }
      }

      .divider {
        height: 1px;
        background: #1f242c;
        margin: 0.4rem 0;
      }

      .cardBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .likes {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          font-size: 0.85rem;
          color: #ef4444;
        }

        .actions {
          display: flex;
          gap: 0.7rem;
          font-size: 1rem;

          svg {
            cursor: pointer;
            opacity: 0.7;
            transition: 0.2s;

            &:hover {
              opacity: 11;
              color: #60a5fa;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .homePage {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 1600px) {
    .homePage {
        .grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}